You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
# Write your function here
def neg(x):
    return -x

In [2]:
# Test your function with input x
x = 4
neg(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [3]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]

min(lst)
# Create you own input list to test with

-3

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [4]:
import pandas as pd
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

def my_function(lst1, lst2, str1, str2):
    x = pd.DataFrame([lst1,lst2],index=[str1,str2]).T
    return ((x-x.min())/(x.max()-x.min())).round(3)

my_function(lst1, lst2, str1, str2)

   one    two
0  0.0  0.000
1  0.5  0.667
2  1.0  1.000

In [5]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'
my_function(lst1, lst2, str1, str2)

      one  alpha
0   0.397  0.757
1   0.283  0.201
2   0.698  0.749
3   0.721  0.243
4   0.987  0.847
5   0.794  0.217
6   0.684  0.707
7   0.525  0.008
8   0.879  0.350
9   0.209  0.158
10  0.536  0.158
11  0.305  0.653
12  0.890  0.463
13  0.984  0.211
14  0.355  0.016
15  0.660  0.677
16  0.756  0.590
17  0.390  0.932
18  0.503  0.641
19  0.079  0.577
20  0.471  0.799
21  0.156  0.244
22  0.208  0.696
23  0.909  0.129
24  0.306  0.013
25  0.701  0.349
26  0.144  0.111
27  0.396  0.023
28  0.478  0.571
29  0.550  0.931
..    ...    ...
70  0.275  0.302
71  0.793  0.003
72  0.000  0.693
73  0.383  0.307
74  0.985  0.108
75  0.313  0.000
76  0.951  0.026
77  0.415  0.413
78  0.009  0.703
79  0.459  0.349
80  0.558  0.582
81  0.921  0.727
82  0.809  0.823
83  0.269  0.122
84  0.488  0.256
85  0.826  0.106
86  0.878  0.346
87  0.778  0.613
88  0.521  0.698
89  0.352  0.341
90  0.605  0.622
91  0.833  0.775
92  0.686  0.032
93  0.069  0.418
94  0.983  0.516
95  0.108  0.045
96  0.191  0.125
97  0.257  0.145
98  0.356  0.878
99  0.691  0.568

[100 rows x 2 columns]